<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <script>
        async function handleSubmit() {

        }
    </script>
</head>
<body>
    <h1>Sign up 화면(REST)</h1>
        <ul>
            <li>
                <label>아이디</label>
                <input type="text" id="id">
            </li>
            <li>
                <label>패스워드</label>
                <input type="password" id="pass">
            </li>
            <li>
                <label>이름</label>
                <input type="text" id="name">
            </li>
            <li>
                <label>주소</label>
                <input type="text" id="address">
            </li>
            <li>
                <button type="button" onclick="handleSubmit()">Sign up</button>
                <button type="reset">Reset</button>
            </li>
        </ul>
    <a href="/">홈으로</a>
</body>
</html>